In [ ]:
my_string = "x = {0:%<7d} and y = {1:@>8d}".format(5, 43)
print (my_string)

my_string = "x = {1:*>6.4f} and y = {1:+5.3f}".format(2.3, -4.12345678)
print (my_string)

In [ ]:
a = "john"
b = "happy"
my_string = "{0:*^10} is {1:+^9s}".format(a,b)

print (my_string)
my_string = "x = {0: 3d} and y = {1:+4d}".format(223, -45)

In [ ]:
a = "mary"
b = "fine"
my_string = "{0:5s} is {1:5s} and {}".format(a,b)
print (my_string)

print('X{0:Y<7d}Z'.format(123))

In [ ]:
print ( "{1}AA{0}{1}BB" .format("dog", "cat", 4)) 

print ( "AA{1:x^5}BB".format(123,"dog") )

1) Write a function that takes a CSV file which contains information about student names and grades for 4 courses and returns a dictionary that contains information about students whose grades in math and chemistry are above 70. the file will be like this<br>

first_name, math, physics, chemistry, biology<br>
<br>ali,90,94,81,97
<br>reza,42,53,65,90
<br>sara,52,58,57,98
<br>sima,73,73,83,91

output_dict = {'ali': [90.0, 94.0, 81.0, 97.0],
                'sima': [73.0, 73.0, 83.0, 91.0]}

2) Write a function that receives a file as an input, the file contains information about how much people consume egg and meat, and returns a dictionary that contains exactly the strings "egg" and "meat" as keys and floating point values in a list as Values. Each line of the file may begin with an "e" or a "m" denoting egg or meat, respectively. For example, if the contents of the file are as follows:<br>
m 0 0 0<br>
e 2 5 1<br>
e 3 5 4<br>
m 1 0 0<br>
e 5 3 1<br>
m 0 1 0<br>
e 2 4 5<br>

output_dict = {'meat': [[0.0, 0.0, 0.0], [1.0, 0.0, 0.0], [0.0, 1.0, 0.0]],
            'egg': [[2.0, 5.0, 1.0], [3.0, 5.0, 4.0], [5.0, 3.0, 1.0], [2.0, 4.0, 5.0]]}

3) Write a function that takes a filename as the input argument and creates a nested dictionary and returns it. The keys in this dictionary should be surnames, and the values should be dictionaries that contain lowercase names as keys and ages as integers. Note that the data may contain several people with the same last name, but their first names are unique. The file contains comma-separated values (CSV), for example if the contents of the file are as follows:

first_name, last_name, age

Matthew,Abbey,65<br>
Chloe,Orion,49<br>
Yohaan,Adams,54<br>
Krishna,Adams,35<br>
Resa,Orion,86<br>
Lucas,Abbey,60<br>
Courtney,Abbey,67<br>
Joseph,Orion,45<br>
Mark,Abbey,60<br>
Eva,Orion,76<br>

{'Abbey': {'Matthew': 65, 'Courtney': 67, 'Lucas': 60, 'Mark': 60},
 'Orion': {'Chloe': 49, 'Resa': 86, 'Eva': 76, 'Joseph': 45},
 'Adams': {'Krishna': 35, 'Yohaan': 54}}

4) Part 1: Read file and create dictionary
Write a function named create_grades_dict that accepts a string as the name of a file. Assuming that the file is a text file
which includes name and grades of students, your function should read the file and return a dictionary with the exact format
as shown below: The format of the input file is:

Student ID, Last_name,  Test_x, grade, Test_x, grade, ......

An example of the input file is shown below. Sample Input Output Assuming that the input file "student_grades.txt"
contains the following text:

1000123456, Rubble, Test_3,  80, Test_4 , 80<br>
1000123459, Chipmunk, Test_4, 96, Test_1, 86 , Quiz_1 , 88

Notes:
Items are seperated by comma and one or more spaces may exist between the items.
The "ID" of each student is unique. Two students may have the same Name (but IDs will be different)
The "Name" of each student will only include a last name with no punctuation. Maximum of 15 characters.
There will be an integer grade for each test (0-100)
There are only four valid tests, i.e. Test_1, Test_2, Test_3, Test_4. There may be other grades in the file and
you should ignore those grades.
Each student may have missing grade(s) for the tests. A missing grades should be considered as 0.
Grades may not be in order i.e. Test_3 may appear before Test_1.
Your function should read the input file, calculate the average test grade for each student and
return a dictionary with the following format:

{'Student_ID': [Last_name,Test_1_grade,Test_2_grade,Test_3_grade,Test_4_grade,average], ...}

For example in the case of sample input file shown above, your function should return the following dictionary:

{'1000123456': ['Rubble', 0, 0, 80, 80, 40.0], '1000123459': ['Chipmunk', 86, 0, 0, 96, 45.5]}

-------------------------------------------------------------------------
 Part 2: Print grades
 
 Write a function called print_grades that accepts the name of a file (string) as input argument.
 Assuming the format of the file is the same as the file in part 1, your function should call the function
 that you developed in part 1 to read the file and create the grades dictionary. Using the grades dictionary,
 your function should print the names, grades, and averages of students with the exact format shown below.
 Notice that you are asked to write a function (NOT a program) and that function prints the grades.
 Your function should return None after printing the grades.

     Sample Input file:

     1000123456, Rubble, Test_3, 80, Test_4, 80, quiz, 90
     1000123210, Bunny, Test_2, 100, Test_1, 100, Test_3, 100, Test_4, 100
     1000123458, Duck, Test_1, 86, Test_5, 100, Test_2, 93, Test_4, 94
 
 Your program's output should be:

        ID     |       Name       | Test_1 | Test_2 | Test_3 | Test_4 |  Avg.  |
    1000123210 | Bunny            |    100 |    100 |    100 |    100 | 100.00 |
    1000123456 | Rubble           |      0 |      0 |     80 |     80 |  40.00 |
    1000123458 | Duck             |     86 |     93 |      0 |     94 |  68.25 |

 Notes:
 
 Column titles are all centered
 The printed output is sorted in ascending order based on the student IDs
 Each column is seperated from a neighboring column(s) by three characters ' | ' (space vertical_bar space).
 IDs are always 10 characters and they are left justified (not counting the boundary characters)
 Names are left justified (maximum of 16 characters, not counting the boundary characters).
 Grades and averages are right justified. The width of the columns for the grades and averages is 6 characters
 (not counting the boundary characters).
 Averages are right justified with two digits of accuracy after the decimal point.
 Hint: Use the function which you developed in part 1 to read the input file and create a dictionary.
 Use .format() to format the output.

5) Write a function called calculate_expenses that takes a filename as an argument. The file contains information about how much a person spends on items. Your function must return a list of sorts by item name. Each tuple contains the name of the item and the total cost of that item is shown as follows:

milk, 2.35<br>
bread, 1.95<br>
chips, 2.54<br>
milk, 2.38<br>
milk, 2.31<br>
bread, 1.90<br>

Note that each line of the file contains only one item and the price of that item is separated by a comma.<br> 
tuples are sorted by item name, for example, bread comes before chips, which comes before milk.<br>
Total costs are strings that start with a \\$ and they are two digits after the decimal point.<br>
Tip: Use "$ {:2f}" to properly create and format strings for the total cost.

output should be:

[('bread','\\$3.85'), ('chips', '\\$2.54'), ('milk', '\\$7.04')]